<footer class="bg-light footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="copyright">Copyright &copy; Supermileage 2024</span>
      </div>
      <div class="col-md-6">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/ubcst/">
              <i class="fab fa-facebook-f" href=""></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/ubcsupermileage/">
              <i class="fab fa-instagram" href=""></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/company/ubc-supermileage/about/">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.youtube.com/user/UBCSupermileageTeam">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>