#supporters {
  .supporters-logo {
    display: flex;
    align-items: center;
    margin: 25px;
  }
  .top-buffer {
    margin-top: 50px;
  }
  .diamond {
    img {
      max-height: 400px;
      // max-width: 300px;
    }
  }
  .platinum {
    img {
      max-height: 200px;
    }
  }
  .gold {
    img {
      max-height: 100px;
    }
  }
  .silver {
    img {
      max-height: 75px;
    }
  }
  .bronze {
    img {
      max-height: 75px;
    }
  }
  .select {
    img {
      max-height: 75px;
    }
  }
}
